.telo{
	
	background-color:black;
}
.imgg{
	height: 470px;
	margin: -1%;
	margin-top:-2% ;
	width: 102%;
	position: revert;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin: 10px;
}
.con{

	position: absolute;
}
.romb{
	position: absolute;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}
.glav_txt{
	position: absolute;
	text-align: center;
	font-size: 100px;
	color: #E63F3F;
	top: 10%;
	left: 30%;
	font-family: Arial, Helvetica, sans-serif;
}
.romb1{
	position: relative;
	left: 500px;
	top: 230px;

}
.romb2{
	position: relative;
	left: 471.4px;
	top: 214.5px;
	transform: rotate(180deg);

}
.romb3{
	position: relative;
	left: 500px;
	top: 230px;

}
.romb4{
	position: relative;
	left: 471.4px;
	top: 214.5px;
	transform: rotate(180deg);

}
.romb5{
	position: relative;
	left: 500px;
	top: 230px;

}
.romb6{
	position: relative;
	left: 471.4px;
	top: 214.5px;
	transform: rotate(180deg);

}
.romb7{
	position: relative;
	left: 500px;
	top: 230px;

}
.romb8{
	position: relative;
	left: 471.4px;
	top: 214.5px;
	transform: rotate(180deg);

}
.text_down{
	position: absolute;
	color: white;
	top: 34%;
	left: 460px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.myButton {
	position: absolute;
	top: 380px;
	left: 515px;
	box-shadow: 0px 10px 14px -7px #0a0a0a;
	background:linear-gradient(to bottom, #ad0000 5%, #e30000 100%);
	background-color:#ad0000;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#fff2ff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButton:hover {
	position: absolute;
	background:linear-gradient(to bottom, #e30000 5%, #ad0000 100%);
	background-color:#e30000;
}
.myButton:active {
	position: absolute;
	top:1px;
}
.gl{
	position: relative;
	left: 100px;


}
.ga{
	position: relative;
	left: 300px;


}
.ok{
	position: relative;
	left: 160px;


}
.de{
	position: relative;
	left: 220px;


}
.info{
	position: absolute ;
	border-block: solid;
	width: 1224px;
	height: 200px;
	color: white;
	left: -1px;
	

	border-left-style:solid;
}
.adres{position: relative;
	text-align: center;
	left: -35%;


	top: 
}
.number{position: relative;
	right: -400px;
	width: 408px;
	height: 200px;
	text-align: center;
	border-block: solid;
	border-right-style:solid;
	border-left-style:solid;
	top: -52%;
}
.time_work{position: relative;
	right: -810px;
	width: 408px;
	height: 200px;
	border-right-style:solid;
	text-align: center;
	border-block: solid;
	border-right-style:solid;
	border-left-style:solid;
	top: -155%;

}
.adres1{
	color: red;
}
